{# templates/recette/edit.html.twig #}
{% extends 'base.html.twig' %}
{% block title %} Modifier une Recette{% endblock %}
{% block body %}
<h1 class="mt-4">Modifier une Recette</h1>
{{ form_start(form) }}
<div class="form-group">
{{ form_label(form.name) }}
{{ form_widget(form.name, {'attr': {'class': 'form-control'}} ) }}
</div>
<div class="form-group">
{{ form_label(form.ingredients) }}
{{ form_widget(form.ingredients, {'attr': {'class': 'form-control'}} )
 }}
</div>
<button type="submit" class="btn btn-primary">Modifier</button>
{{ form_end(form) }}
<a href="{{ path('recette_index') }} " class="btn btn-secondary mt-3">Retour `a
 la liste</a>
{% endblock %}
